@font-face {
  font-family: 'MyFont';
  src: url('assets/Derin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Numf';
  src: url('assets/Numf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'MyFont', 'Numf', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC0CB;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: 'MyFont', 'Numf', monospace;
}
p {
  text-align: center;
}
